<div class="col-md-12">
  
       <div class="contact-bg">
        <h1 class="page-heading">CONTACT US</h1>
       </div>

</div>
   <div class="container margin-space">
   <div class="wrapper">
   
        <div class="card text-center">
            <div class="border p-5 m-3">
                <div class="">
                    <i class="bi bi-geo-alt-fill icon"></i>
                </div>
                <h4>OUR OFFICE</h4>
                <p class="text-white">123 Street, New York, USA
                </p>
            </div>
       
    </div>
   
        <div class="card text-center">
            <div class="border p-5 m-3">
                <div class="">
                    <i class="bi bi-envelope-fill icon"></i>
                </div>
                <h4>EMAIL US</h4>
                <p class="text-white">info@example.com

                </p>
            </div>
       
    </div>
   
        <div class="card text-center">
            <div class="border p-5 m-3">
                <div class="">
                    <i class="bi bi-phone-vibrate-fill icon"></i>
                </div>
                <h4>CALL US
                </h4>
                <p class="text-white">+012 345 6789

                </p>
            </div>
        </div>
   </div>
   </div>    

