<div class="container-fluid">
    <div class="container margin-space">
        <h5 class="sub-heading-orange text-center">
            Super Crispy
        </h5>
        <h1 class="main-heading">WELCOME TO CAKEZONE
        </h1>
        <div class="row mt-5">
          
            <div class="col-md-5">
                <img src="assets/images/about.jpg" alt="about" class="img-fluid">
            </div>
            <div class="col-md-6 ms-2">
                <h4>Tempor erat elitr rebum clita. Diam dolor diam ipsum erat lorem sed stet labore lorem sit clita duo
                </h4><br>
                <p>Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet magna


    
                </p><br>
                <div class="row mt-3">
                    <div class="col-md-6" align="center">
                     
                        <div class="icon-bg">
                            <i class="bi bi-heart-pulse-fill icon"></i>
                        </div>
                     
                        <h2>100% HEALTHY
                        </h2>
                        <p>
                            Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero


                        </p>
                    </div>
                    <div class="col-md-6" align="center">
                        <div class="icon-bg">
                            <i class="bi bi-award-fill icon"></i>
                        </div>
                        <h2>100% HEALTHY
                        </h2>
                        <p>
                            Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>