<div class="container-fluid footer-bg margin-space">
    <div class="container" >
        <p>footer works!</p>
        
       
               <div class="wrapper">
                <div class="  card">
                    <div class="border py-3 px-2">
                      <div class="wrapper ">
                          <div>
                              <i class="bi bi-cake2-fill me-3 " style="font-size: 40px;"></i>
                          </div>
                          <div class="">
                             <h1 class="text-white mt-2">CAKEZONE</h1>
                          </div>
                        </div>
                        <p class="text-white text-center">
                          Lorem diam sit erat dolor elitr et, diam lorem justo labore amet clita labore stet eos magna sit. Elitr dolor eirmod duo tempor lorem, elitr clita ipsum sea. Nonumy rebum et takimata ea takimata amet gubergren, erat rebum magna lorem stet eos. Diam amet et kasd eos duo dolore no.
                        </p>
          
          
                      </div>
                  </div>
             
                  <div class=" ">
                      <h4> GET IN TOUCH</h4>
             
                       <div class="d-flex">
                           <i class="bi bi-geo-alt-fill icon"></i>
                           <p class="text-white">123 Street, New York, USA</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-envelope-fill icon"></i>
                           <p class="text-white">info@example.com</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-telephone-fill icon"></i>
                           <p class="text-white">+012 345 67890</p>
                       </div>
                  
                   </div>
                   <div class=" ">
                       <h4>QUICK LINKS</h4>
                       <div class="d-flex">
                           <i class="bi bi-arrow-right icon"></i>
                           <p class="text-white">HOME</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-arrow-right icon"></i>
                           <p class="text-white">About US</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-arrow-right icon"></i>
                           <p class="text-white">Our Services</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-arrow-right icon"></i>
                           <p class="text-white">Meet The Team</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-arrow-right icon"></i>
                           <p class="text-white">Latest Blog</p>
                       </div>
                       <div class="d-flex">
                           <i class="bi bi-arrow-right icon"></i>
                           <p class="text-white">Contact Us</p>
                       </div>
                   </div>
                   <div class="">
                       <h4>NEWSLETTER</h4>
                       <p class="text-white">Amet justo diam dolor rebum lorem sit stet sea justo kasd</p>
  
                       <div class="d-flex">
                          <input type="email" name="email" id="email" placeholder="Your Email">
                          <button class="btn">Sign Up</button>
                       </div>
                   </div>
          
               </div>
                      
          
        
           <br><br>
            <div class="text-center text-white">
                Copyright @2024
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid footer-bg margin-space">
    <div class="container" >
        <p>footer works!</p>
        
            <div class="row">
                <div class="col-md-4  card">
                  <div class="border py-5 px-3">
                    <div class="wrapper ">
                        <div>
                            <i class="bi bi-cake2-fill me-3 " style="font-size: 40px;"></i>
                        </div>
                        <div class="">
                           <h1 class="text-white mt-2">CAKEZONE</h1>
                        </div>
                      </div>
                      <p class="text-white text-center">
                        Lorem diam sit erat dolor elitr et, diam lorem justo labore amet clita labore stet eos magna sit. Elitr dolor eirmod duo tempor lorem, elitr clita ipsum sea. Nonumy rebum et takimata ea takimata amet gubergren, erat rebum magna lorem stet eos. Diam amet et kasd eos duo dolore no.
                      </p>
        
        
                    </div>
                </div>
             <div class="col-md-8">
             <div class="row">
                <div class="col col-md-4">
                    <h4> GET IN TOUCH</h4>
           
                     <div class="d-flex">
                         <i class="bi bi-geo-alt-fill icon"></i>
                         <p class="text-white">123 Street, New York, USA</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-envelope-fill icon"></i>
                         <p class="text-white">info@example.com</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-telephone-fill icon"></i>
                         <p class="text-white">+012 345 67890</p>
                     </div>
                
                 </div>
                 <div class="col col-md-4">
                     <h4>QUICK LINKS</h4>
                     <div class="d-flex">
                         <i class="bi bi-arrow-right icon"></i>
                         <p class="text-white">HOME</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-arrow-right icon"></i>
                         <p class="text-white">About US</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-arrow-right icon"></i>
                         <p class="text-white">Our Services</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-arrow-right icon"></i>
                         <p class="text-white">Meet The Team</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-arrow-right icon"></i>
                         <p class="text-white">Latest Blog</p>
                     </div>
                     <div class="d-flex">
                         <i class="bi bi-arrow-right icon"></i>
                         <p class="text-white">Contact Us</p>
                     </div>
                 </div>
                 <div class="col col-md-4">
                     <h4>NEWSLETTER</h4>
                     <p class="text-white">Amet justo diam dolor rebum lorem sit stet sea justo kasd</p>
                 </div>
             </div>
             </div>
                      
            </div>
        
        
        </div>
    </div>
    
    -->
   