<div class="container-fluid">
    <div class="container mt-2">
   
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="wrapper visible">
                <div>
                    <i class="bi bi-envelope icons me-3"></i>
                </div>
                <div class="mt-4">
                   
                    <h6>EMAIL US</h6>
                    <p>info@example.com</p>
                </div>
            </div>
            <div class="bg visible">
              <div class="wrapper border px-4">
                <div>
                    <i class="bi bi-cake2-fill me-3" style="font-size: 40px;"></i>
                </div>
                <div class="">
                   
                   <h1 class="text-white mt-2">CAKEZONE</h1>
                </div>
              </div>
            </div>
            <div class="wrapper visible">
                <div>
                    <i class="bi bi-phone-vibrate-fill icons me-3"></i>
                </div>
                <div class="mt-4">
                   
                    <h6>CALL US</h6>
                    <p>+012 345 6789</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- header 2 starts -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <div class="bg logo-visible">
        <div class="wrapper border px-4">
          <div>
              <i class="bi bi-cake2-fill me-3" style="font-size: 40px;"></i>
          </div>
          <div class="">
             
             <h1 class="text-white mt-2">CAKEZONE</h1>
          </div>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu">MENU PRICING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="master-chefs">MASTER CHEFS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PAGES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/our-services">Our Services</a></li>
              <li><a class="dropdown-item" routerLink="/testimonials">Testimonials</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT US</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>

<!-- header 2 ends -->
