<div class="container-fluid combo-bg">
    <div class="container pt">
        <h5 class="sub-heading-orange text-center ">Special Kombo Pack
        </h5>
        <h1 class="main-heading text-white">
            SUPER CRISPY CAKES

        </h1>
        
         <div class="text-center">
          <div class="container px-5">
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi ducimus sequi cumque. Deleniti, nesciunt porro consectetur aliquid inventore ratione vel reiciendis reprehenderit? Commodi obcaecati natus, modi incidunt temporibus vero.</p><br>
          </div>
            <div class="">
                <button class="btn shop mx-2">Shop Now</button>
                <button class="btn btn-outline read mx-2">Read More</button>
            </div><br>
         </div>
    </div>
   
</div>
<br><br>