    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #FFFFFF;
        padding: 10px;
    }
li {
    list-style-type: none;
    margin: 5px;
    font-weight: bold;
    color: #FFFFFF;
}

.active, li:hover {
    padding: 15px;
    background-color: #E88F2A;
    color: white;
  }


.sub-nav {
    background-color: #2B2825;
 
}
.card {
    border-radius: 0;
    
}
.card1 {
    background-color: #FAF3EB;
}
span {
    color: #E88F2A;
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
    
}
.span-price {
    background-color: #2B2825; 
    padding-bottom: 6px;
}
.wrapperCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.combo-bg {
    background-image: url('src/assets/images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    /* filter: brightness(50%); */
    /* opacity: 0.9; */
}

.mt-container {
    margin-bottom: -170px;
}
  .shop {
    background-color: #E88F2A;
    color: #FFFFFF;
    border-radius: 0;
    padding: 10px 40px 10px 40px;
    
  }
  .read-more {
    background-color: #E88F2A;
    color: #FFFFFF;
    border-radius: 0;
    padding: 10px 40px 10px 40px;
    
  }
  .card-wrap {
    display: flex;
    /* background-color: #E88F2A; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
  }
.card2 {
    background-color: #E88F2A;
    
    padding: 20px;
    text-align: center;
    margin: 20px 12px;
    width: 340px;
    

}
@media screen and (max-width: 481px) {
    ul {
        display: block;
        justify-content: center;
        align-items: center;
    }
   
}

@media screen and (max-width: 768px) {
    .combo-bg {
        
        height: auto;
       
    }
    .mt-container {
        margin-bottom: 10px;
    }
  
  }

  @media screen and (max-width: 992px) {
    .card-wrap {
      
        justify-content: center;
        
      }
    .wrapperCard {
       
        justify-content: center;
        
    }
  }