<div class="container-fluid">
    <div class="container">
        <h1 class="sub-heading-orange text-center">
            Team Members
        </h1>
        <h1 class="main-heading">OUR MASTER CHEFS
        </h1>

   <div class="wrapper mt-5 mb-5">
    <div class="card" *ngFor="let item of teamData">
        <div class="card-title">
            <img [src]="item.img" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <div class="item-title">
                <div class="border p-2">
                    <h1 class="text-center card-name">{{item.name}}</h1>
                <h5 class="text-center text-white">{{item.description}}</h5>
                </div>
            </div>
        </div>
    </div>
   </div>

    </div>
</div>