.card {
        width: 330px;
        margin-bottom: 30px;
        border-radius: 0;
        transition: transform 0.3s ease-in-out;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   

}
.card-body {
    background-color: #2B2825;
   
}
.card-name {
    color: #E88F2A !important;
    font-weight: 700;
}
img {
    margin-bottom: -10px;
   
}
.card:hover {
    transform: scale(1.1);
}
img:hover {
opacity: 0.5;
}
@media screen and (max-width: 768px) {
    .wrapper {
       
        justify-content: center;
        flex-wrap: wrap;
    
    }
}